In [ ]:
#Importing Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Hyperparameter Tunning

In [ ]:
#Read The Dataset
df= pd.read_csv('https://raw.githubusercontent.com/KJanhavi2424/My-Datasets/main/cars.csv')
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [ ]:
df.replace('?',np.nan,inplace=True)

In [ ]:
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [ ]:
df['normalized-losses'].skew()

0.7659764175950632

In [ ]:
df['horsepower'].skew()

1.3910294937929355

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
si = SimpleImputer(strategy='most_frequent')

In [ ]:
df.loc[:,['normalized-losses','horsepower']] = si.fit_transform(df.loc[:,['normalized-losses','horsepower']])

In [ ]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [ ]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,161,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,161,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,161,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [ ]:
cat_cols = df.select_dtypes(object).columns

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
oe = OrdinalEncoder()

In [ ]:
df[cat_cols] = oe.fit_transform(df[cat_cols])

In [ ]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,26.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,5.0,21,27,13495
1,3,26.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,5.0,21,27,16500
2,1,26.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,20.0,19,26,16500
3,2,27.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,2.0,24,30,13950
4,2,27.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,8.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,49.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,7.0,23,28,16845
201,-1,49.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,23.0,19,25,19045
202,-1,49.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,13.0,18,23,21485
203,-1,49.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,3.0,26,27,22470
204,-1,49.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,7.0,19,25,22625

In [ ]:
x = df.iloc[:,:-1]
y = df['price']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dt = DecisionTreeRegressor()
dt.fit(xtrain,ytrain)
ypred = dt.predict(xtest)

In [ ]:
dt.score(xtrain,ytrain)

0.9949804474873087

In [ ]:
dt.score(xtest,ytest)

0.6773355874795282

In [ ]:
dt.feature_importances_

array([0.00103991, 0.00507762, 0.00855023, 0.        , 0.00309979,
       0.0077559 , 0.        , 0.032106  , 0.00204315, 0.00169209,
       0.64470127, 0.01637847, 0.01389004, 0.26366554])

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
DecisionTreeRegressor()

DecisionTreeRegressor()

In [ ]:
params = {
    'criterion':["squared_error","friedman_mse","absolute_error"],
    'max_depth':[1,2,3,4,5,6],
    'min_samples_split':[4,6,8,10,12],
    'max_leaf_nodes':[8,10,12,14,16,18],
    'min_samples_leaf':[1,2,3,4,5]
}

In [ ]:
grid = GridSearchCV(DecisionTreeRegressor(),param_grid=params,cv=5,verbose=2)

In [ ]:
grid.fit(xtrain,ytrain)

In [ ]:
reg = DecisionTreeRegressor(criterion='absolute_error',max_depth=6,max_leaf_nodes=18,min_samples_split=4,min_samples_leaf=1)

In [ ]:
reg.fit(xtrain,ytrain)
ypred = reg.predict(xtest)

In [ ]:
reg.score(xtrain,ytrain),reg.score(xtest,ytest)

(0.9304640526524787, 0.8933350886074621)