In [212]:
#Tunning_ANN

In [213]:
!pip install -U keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)

In [214]:
#Importing New libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import Sequential
import tensorflow as tf
from tensorflow.keras.layers import Dense
import keras_tuner as kf
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

In [215]:
#Read The Dataset
df = pd.read_csv('https://raw.githubusercontent.com/KJanhavi2424/My-Datasets/main/Churn_Modelling.csv')

In [216]:
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [217]:
df.drop(columns = ['RowNumber' ,'CustomerId' ,'Surname'],inplace=True)

In [218]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [219]:
df = pd.get_dummies(data = df,columns=['Geography','Gender'])
df

      CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0             619   42       2  ...                0              1            0
1             608   41       1  ...                1              1            0
2             502   42       8  ...                0              1            0
3             699   39       1  ...                0              1            0
4             850   43       2  ...                1              1            0
...           ...  ...     ...  ...              ...            ...          ...
9995          771   39       5  ...                0              0            1
9996          516   35      10  ...                0              0            1
9997          709   36       7  ...                0              1            0
9998          772   42       3  ...                0              0            1
9999          792   28       4  ...                0              1            0

[10000 rows x 14 columns]

In [220]:
x = df.drop(columns = ['Exited'])
y = df['Exited']

In [221]:
sc = StandardScaler()

x = sc.fit_transform(x)

In [222]:
from sklearn.model_selection import train_test_split

In [223]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2,random_state=42)

In [224]:
ann = Sequential()

ann.add(Dense(units = 10,activation ='relu'))
ann.add(Dense(units = 1,activation ='sigmoid'))

ann.compile(optimizer = 'adadelta',loss = 'binary_crossentropy',metrics ='accuracy')

ann.fit(xtrain,ytrain,epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.6543 - accuracy: 0.6388
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6538 - accuracy: 0.6396
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6534 - accuracy: 0.6409
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6529 - accuracy: 0.6421
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6524 - accuracy: 0.6428
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6519 - accuracy: 0.6441
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6514 - accuracy: 0.6451
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6509 - accuracy: 0.6463
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6504 - accuracy: 0.6474
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6499 - accuracy: 0.6485
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6494 - accuracy: 0.6499
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6489 - accuracy: 0.6511
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6484 - accuracy: 0.6521
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6479 - accuracy: 0.6538
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6474 - accuracy: 0.6551
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6469 - accuracy: 0.6560
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6464 - accuracy: 0.6569
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6459 - accuracy: 0.6582
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6454 - accuracy: 0.6590
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6449 - accuracy: 0.6601
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6444 - accuracy: 0.6618
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6440 - accuracy: 0.6629
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6435 - accuracy: 0.6639
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6430 - accuracy: 0.6649
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6425 - accuracy: 0.6676
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6421 - accuracy: 0.6691
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6416 - accuracy: 0.6700
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6411 - accuracy: 0.6714
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6406 - accuracy: 0.6726
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6402 - accuracy: 0.6731
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6397 - accuracy: 0.6740
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6392 - accuracy: 0.6751
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6388 - accuracy: 0.6766
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6383 - accuracy: 0.6774
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6379 - accuracy: 0.6786
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6374 - accuracy: 0.6796
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6369 - accuracy: 0.6808
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 0.6365 - accuracy: 0.6823
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6361 - accuracy: 0.6831
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6356 - accuracy: 0.6839
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6352 - accuracy: 0.6846
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6347 - accuracy: 0.6856
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6343 - accuracy: 0.6864
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6338 - accuracy: 0.6877
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6334 - accuracy: 0.6884
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6330 - accuracy: 0.6891
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6325 - accuracy: 0.6904
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6321 - accuracy: 0.6911
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6317 - accuracy: 0.6925
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6312 - accuracy: 0.6923
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6308 - accuracy: 0.6927
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6304 - accuracy: 0.6944
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6299 - accuracy: 0.6951
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6295 - accuracy: 0.6957
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6291 - accuracy: 0.6969
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6287 - accuracy: 0.6976
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6282 - accuracy: 0.6982
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6278 - accuracy: 0.6988
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6274 - accuracy: 0.6992
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6269 - accuracy: 0.7003
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6265 - accuracy: 0.7014
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6261 - accuracy: 0.7023
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6257 - accuracy: 0.7038
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6253 - accuracy: 0.7048
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6249 - accuracy: 0.7057
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6245 - accuracy: 0.7065
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6241 - accuracy: 0.7071
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6236 - accuracy: 0.7079
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6232 - accuracy: 0.7090
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6228 - accuracy: 0.7096
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6224 - accuracy: 0.7104
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6220 - accuracy: 0.7109
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6216 - accuracy: 0.7116
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6213 - accuracy: 0.7129
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6209 - accuracy: 0.7132
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6205 - accuracy: 0.7136
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6201 - accuracy: 0.7141
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6197 - accuracy: 0.7149
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6193 - accuracy: 0.7156
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6189 - accuracy: 0.7161
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6185 - accuracy: 0.7170
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6181 - accuracy: 0.7175
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6178 - accuracy: 0.7184
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6174 - accuracy: 0.7185
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6170 - accuracy: 0.7195
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6166 - accuracy: 0.7203
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6163 - accuracy: 0.7209
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6159 - accuracy: 0.7216
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6155 - accuracy: 0.7226
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6151 - accuracy: 0.7230
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6148 - accuracy: 0.7232
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6144 - accuracy: 0.7241
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6140 - accuracy: 0.7249
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6137 - accuracy: 0.7261
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6133 - accuracy: 0.7270
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6129 - accuracy: 0.7276
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6126 - accuracy: 0.7285
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6122 - accuracy: 0.7296
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6119 - accuracy: 0.7303
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6115 - accuracy: 0.7305

In [225]:
ypred = ann.predict(xtest)
ypred = ypred > 0.5

63/63 [==============================] - 0s 959us/step

In [226]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.80      0.91      0.85      1607
           1       0.15      0.06      0.09       393

    accuracy                           0.74      2000
   macro avg       0.47      0.49      0.47      2000
weighted avg       0.67      0.74      0.70      2000

In [227]:
#Hyperparameter Tunning

In [228]:
def hyper(hp):
    model = Sequential()
    counter = 0
    for i in range(hp.Int('num_layers', min_value = 1,max_value=10)):
        if counter ==0:
            model.add(Dense(hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
                            activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid']),
                            input_dim = 13))
            counter = counter + 1
        else:
          model.add(Dense(
              hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
              activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid'])))

    model.add(Dense(units = 1,activation='sigmoid'))
    model.compile(optimizer = hp.Choice('optimizer',values = ['adam','rmsprop']),
                loss = 'binary_crossentropy',metrics = 'accuracy')
    return model

In [229]:
tuner = kf.RandomSearch(hyper,
                        objective = 'val_accuracy',
                        max_trials = 3,
                        directory ='project',
                        project_name ='File1')

In [230]:
tuner.search(xtrain,ytrain,epochs = 5,validation_data = (xtest,ytest))

In [231]:
tuner.get_best_hyperparameters()[0].values

{'num_layers': 3,
 'units0': 120,
 'activation0': 'tanh',
 'units1': 8,
 'activation1': 'relu',
 'optimizer': 'adam'}